body {
    margin: 0;
    padding: 0;
    background-color: #d4f3fc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.virsraksts {
    height: auto;
    width: 100%;
    padding: 6px;
    margin-top: 15px;
    background-color: white;
    font-size: 52px;
    text-align: center;
}

.infoDala {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 800px;
    margin: 20px 0;
}

.infoDala button {
    background-color: #8edcfb;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.laiksUnPagrieziens {
    font-size: 20px;
    font-weight: bold;
}

.galds {
    background-color: white;
    padding: 35px;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 80px);  /*norāda kolonnu skaitu un platumu režģa izkārtojumā.*/
    gap: 20px;
}



.card {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: #ccc;
    cursor: pointer;
    transition: transform 0.5s;
    position: relative;
    transform-style: preserve-3d;  /*rotācija 3D telpā*/
}

.card img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    position: absolute;
    backface-visibility: hidden;
}

.card .back {
    background-color: #ccc;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.card .front {
    transform: rotateY(180deg);
}

.card.flipped {
    transform: rotateY(180deg);
}
